@import "tailwindcss";

@font-face {
  font-family: poppins;
  src: url('/Poppins-Regular.woff');
}
.gradientBg {
  background: linear-gradient(0deg, #efebff, #babbff);
  font-family: poppins;
}

.smoothTransiotn
{
  transition: .3s cubic-bezier(0.19, 1, 0.22, 1);
}
.fadein {
animation: fadeIn .8s ease-in-out  forwards ;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}